<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <common>
        <log>
            <entry key="writeToConsole" value="false" />
            <entry key="purgeCount"     value="10" />
            <entry key="purgeAge"       value="365" />
            <entry key="sizeLimit"      value="2048" />
        </log>
    </common>
    <framework>
        <dependencies>
            <entry key="opencl" value="true" />
        </dependencies>
        <stackTracing>
            <entry key="logInitialCap" value="64" />
        </stackTracing>
        <gc>
            <entry key="msgLoopSleepTimeoutMillisecs"       value="100" />
            <entry key="memoryBlocksPoolInitialSize"        value="128" />
            <entry key="memoryBlocksPoolGrowingFactor"      value="1.0" />
            <entry key="sptrObjsHashTabInitSizeLog2"        value="8" />
            <entry key="sptrObjsHashTabLoadFactorThreshold" value="0.7" />
        </gc>
        <opencl>
            <entry key="maxSourceCodeLineLength" value="128" />
            <entry key="maxBuildLogSize" value="5120" />
        </opencl>
        <isam>
            <entry key="useWindowsFileCache" value="true" />
        </isam>
        <broker>
            <entry key="dbConnTimeoutSecs" value="15" />
            <entry key="dbConnMaxRetries"  value="10" />
        </broker>
        <rpc>
            <entry key="cliSrvConnectMaxRetries"  value="10" />
            <entry key="cliSrvConnRetrySleepSecs" value="3" />
            <entry key="cliCallMaxRetries"        value="10" />
            <entry key="cliCallRetrySleepMs"      value="500" />
            <entry key="cliCallRetryTimeSlotMs"   value="250" />
        </rpc>
    </framework>
    <application>
        <entry key="testBrokerWindowsMsSqlDbConnString"
               value="Driver={SQL Server Native Client 11.0};Server=(localdb)\MSSQLLocalDB;Database=SvcBrokerTest;Trusted_Connection=yes;" />
        
        <entry key="testBrokerLinuxMsSqlDbConnString"
               value="Driver={ODBC Driver 13 for SQL Server};Server=tcp:192.168.1.32,1433;Database=SvcBrokerTest;Uid=tester;Pwd=tester;" />

        <entry key="testOclUseGpuDevice" value="true" />
        
        <entry key="testOclWindowsWrongExampleFilePath" value="..\..\opencl-c-example-wrong.txt" />
        <entry key="testOclWindowsGoodExampleFilePath" value="..\..\opencl-c-example.txt" />
        <entry key="testOclLinuxWrongExampleFilePath" value="../../opencl-c-example-wrong.txt" />
        <entry key="testOclLinuxGoodExampleFilePath" value="../../opencl-c-example.txt" />
    </application>
</configuration>