<?xml version="1.0" encoding="utf-8"?>
<root>
  <common>
    <log>
      <!-- Has effect in POSIX & Windows desktop apps only: -->
      <writeToConsole>false</writeToConsole>
      <purgeCount>10</purgeCount>
      <!-- The maximum age a log file (in days) can reach before being purged: -->
      <purgeAge>30</purgeAge>
    </log>
  </common>
  <framework>
    <dependencies>
      <opencl>true</opencl>
    </dependencies>
    <stackTracing>
      <!-- The initial reserved capacity for the container which stores the stack trace: -->
      <stackLogInitialCap>64</stackLogInitialCap>
    </stackTracing>
    <gc>
      <msgLoopSleepTimeoutMilisecs>100</msgLoopSleepTimeoutMilisecs>
      <memBlocksMemPool>
        <initialSize>128</initialSize>
        <growingFactor>1.0</growingFactor>
      </memBlocksMemPool>
      <sptrObjectsHashTable>
        <initialSizeLog2>8</initialSizeLog2>
        <!-- Should be less than 0.75 at most, to avoid performance degradation of linear probing -->
        <loadFactorThreshold>0.7</loadFactorThreshold>
      </sptrObjectsHashTable>
    </gc>
    <opencl>
      <maxSourceCodeLineLength>128</maxSourceCodeLineLength>
      <maxBuildLogSize>5120</maxBuildLogSize>
    </opencl>
    <isam>
      <useWindowsFileCache>true</useWindowsFileCache>
    </isam>
  </framework>
  <application>
    <!--HERE YOU CAN INSERT THE TAGS REGARDING THE SETTINGS FOR YOUR APPLICATION-->
  </application>
</root>
