<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <common>
        <log>
            <entry key="sizeLimit" value="2048" />
        </log>
    </common>
    <framework>
        <stackTracing>
            <entry key="logInitialCap" value="64" />
        </stackTracing>
        <gc>
            <entry key="msgLoopSleepTimeoutMillisecs"  value="100" />
            <entry key="memoryBlocksPoolInitialSize"   value="128" />
            <entry key="memoryBlocksPoolGrowingFactor" value="1.0" />
            <entry key="sptrObjsHashTabInitSizeLog2"   value="8" />
            <entry key="sptrObjsHashTabLoadFactorThreshold" value="0.7" />
        </gc>
        <isam>
            <entry key="useWindowsFileCache" value="true" />
        </isam>
    </framework>
    <application>
    </application>
</configuration>