<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <common>
        <log>
            <entry key="writeToConsole" value="false" />
            <entry key="purgeCount"     value="10" />
            <entry key="purgeAge"       value="365" />
            <entry key="sizeLimit"      value="2048" />
        </log>
    </common>
    <framework>
        <dependencies>
            <entry key="opencl" value="true" />
        </dependencies>
        <stackTracing>
            <entry key="logInitialCap" value="64" />
        </stackTracing>
        <gc>
            <entry key="msgLoopSleepTimeoutMillisecs"       value="100" />
            <entry key="memoryBlocksPoolInitialSize"        value="128" />
            <entry key="memoryBlocksPoolGrowingFactor"      value="1.0" />
            <entry key="sptrObjsHashTabInitSizeLog2"        value="8" />
            <entry key="sptrObjsHashTabLoadFactorThreshold" value="0.7" />
        </gc>
        <opencl>
            <entry key="maxSourceCodeLineLength" value="128" />
            <entry key="maxBuildLogSize" value="5120" />
        </opencl>
        <isam>
            <entry key="useWindowsFileCache" value="true" />
        </isam>
        <broker>
            <entry key="dbConnTimeoutSecs" value="15" />
            <entry key="dbConnMaxRetries"  value="10" />
        </broker>
        <rpc>
            <entry key="cliSrvConnectMaxRetries"  value="20" />
            <entry key="cliSrvConnRetrySleepSecs" value="5" />
            <entry key="cliCallMaxRetries"        value="10" />
            <entry key="cliCallRetrySleepMs"      value="500" />
            <entry key="cliCallRetryTimeSlotMs"   value="250" />
        </rpc>
    </framework>
    <application>
        <entry key="testRpcServerPrincipalName" value="Felipe@MyDomain.local" />
        <entry key="testRpcServerSingleBox"     value="DESKTOP-8DT5M8Q" />
        <entry key="testRpcServerWithADSec"     value="MyVirtualSpare.MyDomain.local" />
    </application>
</configuration>