<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="b4c85b0d-ad36-4ada-b1d9-f00baa63c59d" Publisher="CN=Felipe" Version="1.0.0.0" />
  <Properties>
    <DisplayName>IntegrationTestsApp.WinRT.Windows</DisplayName>
    <PublisherDisplayName>Felipe</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IntegrationTestsApp_WinRT_Windows.App">
      <m2:VisualElements DisplayName="IntegrationTestsApp.WinRT.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="IntegrationTestsApp.WinRT.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>